<div class="list">
    <ul>
        <li ng-repeat="v in data track by $index">
            <a href="#/details">
                <img ng-src="{{v.images.large}}" alt="">
            </a>
            <div class="meta">
                <h4><span>{{v.title}}</span> <em>{{v.rating.average}}分</em></h4>
                <div class="otherinfo">类型:<span ng-repeat="vtype in v.genres track by $index">{{vtype}}</span></div>
            </div>
        </li>
    </ul>
    <div class="paging">
        <label>总共：0条记录,第0/0页;</label>
        <!-- 加上disable类样式，表示按钮禁用状态 -->
        <button class="prev disable ">上一页</button>
        <button class="next">下一页</button>
    </div>
</div>